html {
  scroll-behavior: smooth;
}

body {
  background-color: #f8f8f8;
  margin: 0;
  padding: 0;
}

.container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

.container2 {
  display: grid;
  grid-template-rows: 1fr auto;
  min-height: 100vh;
}

.slider {
  max-width: 50%;
}

.hero {
  height: calc(100vh - 24px);
  overflow: hidden;
}

.gallery-container {
  margin: 0 auto;
  width: 100%;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 12px;
}

.extra-image-container {
  max-width: 300px;
}

.card {
  overflow: hidden;
}

.pagination-btn {
  margin-left: 4px;
  margin-bottom: 4px;
  width: 48px;
}

.footer p {
  margin-top: 0;
  margin-bottom: 0;
}

.hidden {
  display: none !important;
}

.block {
  display: block;
}

.flex {
  display: flex;
}

.departments {
  width: 250px !important;
}

.padding-0 {
  padding: 0 !important;
}

.input {
  width: 242px !important;
}

.departments-spinner {
  padding-left: 8px;
}
